<div class="about">
  <img id="avatar" src="https://github.com/MuriloMorais2021.png" alt="{{about.name}}">
</div>
<div class="about-me">
  <h1><strong>{{about.name}}</strong></h1>
  <p>{{about.description}}</p>
  <a href="https://github.com/MuriloMorais2021" target="_blanck" style="margin-right: 10px;"><img src="/Image/placa-do-github.png" alt="github" height="32"></a>
  <a href="https://linkedin.com/in/murilo-morais-18096a1a9" target="_blanck"><img src="/Image/linkedin.png" alt="Linkedin" height="35"></a>
</div>